@use "../mixin/var.scss" as *;

.nav__lists--link,
.paragraph {
    color: var(--clr-400);
    font-family: $font-fam-pri;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-p {
    color: var(--clr-100);

    text-align: center;
    font-family: $font-fam-sec;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

&__link {
    color: var(--clr-200);
    font-family: $font-fam-sec;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    }
}