.main-qoute {

        color: #003DA6;
        font-family: Whisper;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

}