@use '../mixin/response.scss' as *;
@use "../mixin/var.scss" as *;

.main-qoute {
        color: var(--clr-400);
        font-family: $font-fam-tri;
        // font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @include respond(tab-port){
                font-size: 4.5rem;
        }
}