/*
*Media Query Manager

Breakpoints : Screens     : nickname

0 - 600 px  : phone       : phone
600 - 900 px: tab-port    : tab-port
900 - 1200px: tab-land
1200-1800px : Desktop
1800 px + Big Monitor    

*/
.ctrTxt {
  text-align: center;
}

.endTxt {
  text-align: end;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --clr-100: #fff;
  --clr-200: #FFE401;
  --clr-300: #0D62AD;
  --clr-400: #003DA6;
  --clr-500: #000;
  --fs-300: 1.2rem;
  --fs-400: 1.4rem;
  --fs-500: 1.8rem;
  --fs-600: 2.4rem;
  --fs-700: 3rem;
}
@media (min-width: 60rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
@media (min-width: 90rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
@media (min-width: 120rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
.card-main {
  max-width: 800px;
  min-height: 523px;
  border-radius: 15px;
  background-color: #FFE401;
  padding: 1rem 4rem;
  margin-bottom: 3rem;
}
.card-main__heading {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-main__sec {
  margin: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card-main__img {
  max-width: 360px;
  max-height: 300px;
}
.card-main__paragraph {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-drop {
  max-width: 360px;
  text-align: center;
}
.card-drop__heading {
  color: #003DA6;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-drop__p {
  color: #003DA6;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mCard__img {
  width: 75%;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.main-index {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content,
.main-content-1 {
  width: 100%;
  padding: 10% 4%;
}
.main-content__vw,
.main-content-1__vw {
  width: 90%;
  margin: 0 auto;
}
.main-content__content,
.main-content-1__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.main-sec-1 {
  width: 100%;
  background-image: url("/Assests/Images/water-bottles 2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20% 0;
}
.main-sec-1__vw {
  width: 90%;
  margin: 0 auto;
}
.main-sec-1__heading {
  margin-bottom: 3rem;
}

.img {
  width: 100%;
}

.main-heading {
  color: var(--clr-300);
  font-family: "Playfair Display", san-serif;
  font-style: normal;
  font-weight: 400;
  line-height: initial;
}

.sub-heading {
  color: var(--clr-400);
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.tri-heading {
  color: var(--clr-100);
  font-family: "Playfair Display", san-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.main-qoute {
  color: var(--clr-400);
  font-family: "Whisper", san-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.paragraph {
  color: var(--clr-400);
  font-family: "Lato", san-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-p {
  color: var(--clr-100);
  text-align: center;
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-p__link {
  color: var(--clr-200);
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/*# sourceMappingURL=index.css.map */
