/*
*Media Query Manager

Breakpoints : Screens     : nickname

0 - 600 px  : phone       : phone
600 - 900 px: tab-port    : tab-port
900 - 1200px: tab-land
1200-1800px : Desktop
1800 px + Big Monitor    

*/
.ctrTxt {
  text-align: center;
}

.endTxt {
  text-align: end;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--clr-100);
  padding: 1% 5%;
}
.nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__logo--logo {
  width: 6rem;
  height: 6rem;
}
.nav__lists {
  display: none;
}
@media (min-width: 60rem) {
  .nav__lists--item {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .nav:hover .nav__lists {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 60rem) {
  .nav,
  .nav__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --clr-100: #fff;
  --clr-200: #FFE401;
  --clr-300: #0D62AD;
  --clr-400: #003DA6;
  --clr-500: #000;
  --fs-300: 1.2rem;
  --fs-400: 1.4rem;
  --fs-500: 1.8rem;
  --fs-600: 2.4rem;
  --fs-700: 3rem;
}
@media (min-width: 60rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
@media (min-width: 90rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
@media (min-width: 120rem) {
  :root {
    --fs-300: 1.2rem;
    --fs-400: 1.4rem;
    --fs-500: 1.8rem;
    --fs-600: 2.4rem;
    --fs-700: 3rem;
  }
}
.card-main {
  min-height: 523px;
  border-radius: 15px;
  background-color: #FFE401;
  padding: 1rem 4rem;
  margin-bottom: 3rem;
}
@media (min-width: 60rem) {
  .card-main {
    max-width: 450px;
  }
}
@media (min-width: 90rem) {
  .card-main {
    max-width: 710px;
  }
}
.card-main__heading {
  color: #000;
  text-align: center;
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-main__sec {
  margin: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card-main__img {
  max-width: 360px;
  max-height: 300px;
}
.card-main__paragraph {
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card-drop {
  max-width: 360px;
  text-align: center;
}
.card-drop__heading {
  color: #003DA6;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-drop__p {
  color: #003DA6;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mCard__img {
  width: 75%;
}
@media (min-width: 90rem) {
  .mCard {
    margin-right: 40%;
    margin-bottom: 10%;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #003A65;
}
.footer__txtB {
  width: 50%;
  padding: 10% 5%;
}
.footer__txtB--heading, .footer__txtB--p, .footer__txtB--address {
  color: var(--clr-100);
}
.footer__txtB--address a {
  color: var(--clr-200);
}
.footer__txtB--heading {
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 3rem;
}
.footer__txtB--p, .footer__txtB--address {
  font-family: "Lato", san-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__txtB--p {
  margin-bottom: 6rem;
}
.footer__txtB--address {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__imgB {
  width: 50%;
}
.footer__imgB--video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 90rem) {
  .main-video {
    width: 75%;
  }
}

.main-index {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 90rem) {
  .main-index {
    display: flex;
    align-items: end;
    justify-content: end;
  }
}

.main-content {
  background-color: var(--clr-200);
}
@media (min-width: 90rem) {
  .main-content {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: initial;
  }
}

.wave1 {
  background-color: var(--clr-200);
}
@media (min-width: 90rem) {
  .wave1 {
    background-image: url("./Assests/Images/bdg-1.png");
    background-color: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.wave2 {
  background-color: var(--clr-200);
}
@media (min-width: 90rem) {
  .wave2 {
    background-image: url("./Assests/Images/Rectangle 17.png");
    background-color: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.wave3 {
  background-color: var(--clr-200);
}
@media (min-width: 90rem) {
  .wave3 {
    background-image: url("./Assests/Images/Rectangle 18.png");
    background-color: initial;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.main-content,
.main-content-1 {
  width: 100%;
}
.main-content__vw,
.main-content-1__vw {
  width: 90%;
  margin: 0 auto;
}
.main-content__content,
.main-content-1__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.main-content {
  padding-bottom: 12%;
  padding-left: 4%;
  padding-right: 4%;
}
.main-content__content {
  flex-direction: row;
}
@media (min-width: 60rem) {
  .main-content__content--textBlock {
    width: 38%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .main-content__content--imgBlock {
    width: 60%;
  }
}

.main-content-1 {
  padding: 10% 4%;
}
.main-content-1__content {
  flex-direction: row-reverse;
}
@media (min-width: 60rem) {
  .main-content-1__content--textBlock {
    width: 50%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main-content-1__content--imageBlock {
    width: 50%;
  }
}
.main-content-1__cards {
  width: 100%;
}
@media (min-width: 60rem) {
  .main-content-1__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-content-1__cards__card {
    width: 30%;
  }
}

.main-sec-1 {
  background-image: url("/Assests/Images/water-bottles 2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 90rem) {
  .main-sec-1 {
    background-image: url("/Assests/Images/water-bottles-everfresh-1.png");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: 100% 100%;
    background-color: initial;
  }
}

.main-sec-1,
.main-sec-3 {
  width: 100%;
  padding: 20% 0;
}
.main-sec-1__vw,
.main-sec-3__vw {
  width: 90%;
  margin: 0 auto;
}
.main-sec-1__heading,
.main-sec-3__heading {
  margin-bottom: 4rem;
  border-left: 5px solid #fff;
  padding-left: 2rem;
}
.main-sec-1__cards,
.main-sec-3__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-sec-2 {
  width: 100%;
  padding: 10% 4%;
}
.main-sec-2__cards-drop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  width: 100%;
}

.main-heading {
  color: var(--clr-300);
  font-family: "Playfair Display", san-serif;
  font-style: normal;
  font-weight: 400;
  line-height: initial;
}
@media (min-width: 90rem) {
  .main-heading {
    font-size: 9rem;
  }
}
@media (min-width: 180rem) {
  .main-heading {
    font-size: 18rem;
  }
}

.sub-heading {
  color: var(--clr-400);
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.tri-heading {
  color: var(--clr-100);
  font-family: "Playfair Display", san-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.main-qoute {
  color: var(--clr-400);
  font-family: "Whisper", san-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
@media (min-width: 90rem) {
  .main-qoute {
    font-size: 4.5rem;
  }
}

.nav__lists--link,
.paragraph {
  color: var(--clr-400);
  font-family: "Lato", san-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-p {
  color: var(--clr-100);
  text-align: center;
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-p__link {
  color: var(--clr-200);
  font-family: "Playfair Display", san-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

/*# sourceMappingURL=index.css.map */
