@use '../mixin/color.scss' as *;
@use '../mixin/response.scss' as *;
@use '../mixin/font.scss' as *;

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    @each $sect, $color in $colors {
        @each $clr, $val in $color {
            --#{$sect}-#{$clr}: #{$val};
        }
    }

    @each $size, $fonts in $font-size {

        @if $size==desktop {
                @each $fs, $val in $fonts {
                    --fs-#{$fs}: #{$val};
                }       
            }
        

        @include respond(phone){
            @if $size==phone {
                @each $fs, $val in $fonts {
                    --fs-#{$fs}: #{$val};
                }       
            }
        }

        @include respond(tab-port){
            @if $size==tab-port {
                @each $fs, $val in $fonts {
                    --fs-#{$fs}: #{$val};
                }       
            }
        }

        @include respond(tab-land){
            @if $size==tab-land {
                @each $fs, $val in $fonts {
                    --fs-#{$fs}: #{$val};
                }       
            }
        }
    }
}