@use '../mixin/response.scss' as *;

.card-main {
    max-width: 600px;
    min-height: 523px;
    border-radius: 15px;
    background-color: #FFE401;
    padding: 1rem 4rem;
    margin-bottom: 3rem;

    &__heading {
        color: #000;
        text-align: center;
        font-family: Playfair Display;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__sec {
        margin: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    &__img {
        max-width: 360px;
        max-height: 300px;
    }

    &__paragraph {
        color: #000;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}


.card-drop {
    max-width: 360px;

    text-align: center;
    
    &__heading {
        color: #003DA6;

        font-family: Playfair Display;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__p {
        color: #003DA6;
        text-align: center;
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}


.mCard {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 75%;
    }

    
    @include respond(tab-port){
        margin-right: 40%;
        margin-bottom: 10%;
    }
    // margin-right: 116px;
}
