.footer {
    background-image: url("/Assests/Images/footer.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 75vh;
}