@use '../mixin/response.scss' as *;

.main-index {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content,
.main-content-1 {
    width: 100%;
    padding: 10% 4%;

    &__vw {
        width: 90%;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        text-align: center;
    }
}

.main-sec-1 {
    width: 100%;
    background-image: url("/Assests/Images/water-bottles\ 2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20% 0;

    &__vw {
        width: 90%;
        margin: 0 auto;
    }

    &__heading {
        margin-bottom: 3rem;
    }
}