$font-size: (
    phone : (
            300: 1.2rem,
            400: 1.4rem,
            500: 1.8rem,
            600: 2.4rem,
            700: 3rem
    ),
    tab-port : (
            300: 1.2rem,
            400: 1.4rem,
            500: 1.8rem,
            600: 2.4rem,
            700: 3rem
    ),
    tab-land : (
            300: 1.2rem,
            400: 1.4rem,
            500: 1.8rem,
            600: 2.4rem,
            700: 3rem
    ),
    desktop : (
            300: 1.2rem,
            400: 1.4rem,
            500: 1.8rem,
            600: 2.4rem,
            700: 3rem
    )
)